<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <username>${NEXUS_USERNAME}</username>
      <password>${NEXUS_PASSWORD}</password>
      <id>central</id>
    </server>
    <server>
      <username>${NEXUS_USERNAME}</username>
      <password>${NEXUS_PASSWORD}</password>
      <id>snapshots</id>
    </server>
    <server>
        <id>http-unBlocker</id>
        <username>${NEXUS_USERNAME}</username>
        <password>${NEXUS_PASSWORD}</password>
    </server>
  </servers>
  <mirrors>
      <mirror>
          <id>http-unBlocker</id>
          <mirrorOf>central</mirrorOf>
          <name>unblocker</name>
          <url>${MAVEN_PROXY}</url>
      </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>maven</name>
          <url>${MAVEN_PROXY}</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>maven</name>
          <url>${MAVEN_PROXY}</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>maven</name>
          <url>${MAVEN_PROXY}</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>maven</name>
          <url>${MAVEN_PROXY}</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
